*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    
}


.container {
    width: 1200px;
    margin: 0 auto;

    .box__setting{
        position: relative;
        border: 1px solid #fdec51;
        width: 400px;
        height: 570px;
        background-color: #fdec51;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border-radius: 10px;

        ul{
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            &.box__top {
                display: flex;
                justify-content: space-between;
                list-style: none;
                padding: 40px;
                font-size: 18px;
            }

            &.box__b0ttom {
                list-style: none;
                padding: 20px 5px 20px 130px;
                
                a {
                    text-decoration: none;
                    color: black;
                    font-size: 18px;
                }
            }

        }

    }

    

    .setting__menu {
        position: absolute;
        top: 54%;
        left: 55%;
        transform: translate(-50%, -50%);
        border: 1px solid #fff;
        border-radius: 10px;
        width: 400px;
        height: 400px;
        background-color: #fff;
        box-shadow: 5px 5px 20px 15px #2f2f2f;
        

        .setting__content {
            padding: 15px;
            margin-left: 20px;
            
            .setting__list{
                display: block;
                padding-top: 45px;
                color: #9ea3a8;
                font-weight: 530;
                font-size: 12px;
                
                
                input{
                    display: block;
                    font-size: 14px;
                    font-weight: 530;
                    width: 100%;
                    border: none;
                    margin-top: 10px;
                }

                .list1 {
                    display: inline-flex;
                }
            }
        }
    }

    .header__img {
        position: absolute;
        top: 17%;
        left: 45%;
        
        img {
            display: block;
            border: 1px solid transparent;
            width: 70px;
            height: 80px;
            border-radius: 50%;
        }
    }
}
